{
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-packagejson",
        "prettier-plugin-rational-order"
    ],

    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "avoid",

    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte",
                "svelteStrictMode": false,
                "svelteAllowShorthand": true,
                "svelteIndentScriptAndStyle": true
            }
        },
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        }
    ]
}
